<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>Impression_320_480</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>55</integer>
					<integer>5</integer>
					<integer>235</integer>
					<integer>22</integer>
				</array>
				<key>TextSize</key>
				<integer>14</integer>
			</dict>
			<key>CancelButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>30</string>
					<string>0</string>
					<string>30</string>
					<string>30</string>
				</array>
				<key>Enabled</key>
				<false/>
			</dict>
			<key>SubContent</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>55</integer>
					<integer>18</integer>
					<integer>235</integer>
					<integer>40</integer>
				</array>
				<key>TextSize</key>
				<integer>11</integer>
			</dict>
			<key>PlatformId</key>
			<integer>2</integer>
			<key>PopupSize</key>
			<array>
				<string>320</string>
				<string>414</string>
			</array>
			<key>BackButtonRect</key>
			<array>
				<string>260</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>Banner</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>8</integer>
					<real>2.5</real>
					<integer>38</integer>
					<integer>38</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>268</integer>
					<integer>0</integer>
					<integer>52</integer>
					<integer>10</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>320</integer>
					<integer>50</integer>
				</array>
			</dict>
			<key>FullScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>320</integer>
					<integer>480</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>126</integer>
					<integer>452</integer>
					<integer>193</integer>
					<integer>27</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>320</integer>
					<integer>480</integer>
				</array>
			</dict>
			<key>StatusBarHeight</key>
			<integer>20</integer>
			<key>ExtendButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>270</string>
					<string>10</string>
					<string>40</string>
					<string>30</string>
				</array>
				<key>Image</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
			<key>HarfScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>300</integer>
					<integer>250</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>120</integer>
					<integer>223</integer>
					<integer>193</integer>
					<integer>27</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>300</integer>
					<integer>250</integer>
				</array>
			</dict>
			<key>ForwardButtonRect</key>
			<array>
				<string>295</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>LeftButtonRect</key>
			<array>
				<string>5</string>
				<string>5</string>
				<string>17</string>
				<string>17</string>
			</array>
			<key>RightButtonRect</key>
			<array>
				<string>230</string>
				<string>10</string>
				<string>80</string>
				<string>30</string>
			</array>
		</dict>
		<key>Common_768_1024</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>100</integer>
					<integer>10</integer>
					<integer>540</integer>
					<integer>40</integer>
				</array>
				<key>TextSize</key>
				<integer>23</integer>
			</dict>
			<key>CancelButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>80</string>
					<string>10</string>
					<string>20</string>
					<string>20</string>
				</array>
				<key>Enabled</key>
				<false/>
			</dict>
			<key>SubContent</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>100</integer>
					<integer>50</integer>
					<integer>540</integer>
					<integer>40</integer>
				</array>
				<key>TextSize</key>
				<integer>20</integer>
			</dict>
			<key>PlatformId</key>
			<integer>8</integer>
			<key>PopupSize</key>
			<array>
				<string>768</string>
				<string>958</string>
			</array>
			<key>BackButtonRect</key>
			<array>
				<string>650</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>Banner</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>15</integer>
					<integer>10</integer>
					<integer>70</integer>
					<integer>70</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>664</integer>
					<integer>0</integer>
					<integer>104</integer>
					<integer>20</integer>
				</array>
				<key>Size</key>
				<array>
					<string>768</string>
					<string>90</string>
				</array>
			</dict>
			<key>FullScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>768</integer>
					<integer>1024</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>412</integer>
					<integer>980</integer>
					<integer>386</integer>
					<integer>51</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>768</integer>
					<integer>1024</integer>
				</array>
			</dict>
			<key>StatusBarHeight</key>
			<integer>20</integer>
			<key>ExtendButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>670</string>
					<string>18</string>
					<string>80</string>
					<string>60</string>
				</array>
				<key>Image</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
			<key>HarfScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>728</integer>
					<integer>480</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>360</integer>
					<integer>430</integer>
					<integer>386</integer>
					<integer>51</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>728</integer>
					<integer>480</integer>
				</array>
			</dict>
			<key>ForwardButtonRect</key>
			<array>
				<string>710</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>LeftButtonRect</key>
			<array>
				<string>10</string>
				<string>10</string>
				<string>34</string>
				<string>34</string>
			</array>
			<key>RightButtonRect</key>
			<array>
				<string>588</string>
				<string>20</string>
				<string>160</string>
				<string>80</string>
			</array>
		</dict>
		<key>Common_320_480</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>55</integer>
					<integer>5</integer>
					<integer>255</integer>
					<integer>22</integer>
				</array>
				<key>TextSize</key>
				<integer>14</integer>
			</dict>
			<key>CancelButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>40</string>
					<string>5</string>
					<string>15</string>
					<string>15</string>
				</array>
				<key>Enabled</key>
				<false/>
			</dict>
			<key>SubContent</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>55</integer>
					<integer>18</integer>
					<integer>245</integer>
					<integer>40</integer>
				</array>
				<key>TextSize</key>
				<integer>11</integer>
			</dict>
			<key>PlatformId</key>
			<integer>2</integer>
			<key>PopupSize</key>
			<array>
				<string>320</string>
				<string>414</string>
			</array>
			<key>BackButtonRect</key>
			<array>
				<string>260</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>Banner</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>8</integer>
					<real>2.5</real>
					<integer>38</integer>
					<integer>38</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>268</integer>
					<integer>0</integer>
					<integer>52</integer>
					<integer>10</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>320</integer>
					<integer>50</integer>
				</array>
			</dict>
			<key>FullScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>320</integer>
					<integer>480</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>126</integer>
					<integer>452</integer>
					<integer>193</integer>
					<integer>27</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>320</integer>
					<integer>480</integer>
				</array>
			</dict>
			<key>StatusBarHeight</key>
			<integer>20</integer>
			<key>ExtendButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>270</string>
					<string>10</string>
					<string>40</string>
					<string>30</string>
				</array>
				<key>Image</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
			<key>HarfScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>300</integer>
					<integer>250</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>120</integer>
					<integer>223</integer>
					<integer>193</integer>
					<integer>27</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>300</integer>
					<integer>250</integer>
				</array>
			</dict>
			<key>ForwardButtonRect</key>
			<array>
				<string>295</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>LeftButtonRect</key>
			<array>
				<string>5</string>
				<string>5</string>
				<string>17</string>
				<string>17</string>
			</array>
			<key>RightButtonRect</key>
			<array>
				<string>230</string>
				<string>10</string>
				<string>80</string>
				<string>30</string>
			</array>
		</dict>
		<key>Impression_768_1024</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>100</integer>
					<integer>10</integer>
					<integer>540</integer>
					<integer>40</integer>
				</array>
				<key>TextSize</key>
				<integer>23</integer>
			</dict>
			<key>CancelButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>40</string>
					<string>0</string>
					<string>40</string>
					<string>40</string>
				</array>
				<key>Enabled</key>
				<false/>
			</dict>
			<key>SubContent</key>
			<dict>
				<key>Rect</key>
				<array>
					<integer>100</integer>
					<integer>50</integer>
					<integer>540</integer>
					<integer>40</integer>
				</array>
				<key>TextSize</key>
				<integer>20</integer>
			</dict>
			<key>PlatformId</key>
			<integer>8</integer>
			<key>PopupSize</key>
			<array>
				<string>768</string>
				<string>958</string>
			</array>
			<key>BackButtonRect</key>
			<array>
				<string>650</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>Banner</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>15</integer>
					<integer>10</integer>
					<integer>70</integer>
					<integer>70</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>664</integer>
					<integer>0</integer>
					<integer>104</integer>
					<integer>20</integer>
				</array>
				<key>Size</key>
				<array>
					<string>768</string>
					<string>90</string>
				</array>
			</dict>
			<key>FullScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>768</integer>
					<integer>1024</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>412</integer>
					<integer>980</integer>
					<integer>386</integer>
					<integer>51</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>768</integer>
					<integer>1024</integer>
				</array>
			</dict>
			<key>StatusBarHeight</key>
			<integer>20</integer>
			<key>ExtendButton</key>
			<dict>
				<key>Rect</key>
				<array>
					<string>670</string>
					<string>18</string>
					<string>80</string>
					<string>60</string>
				</array>
				<key>Image</key>
				<string></string>
				<key>Link</key>
				<string></string>
			</dict>
			<key>HarfScreen</key>
			<dict>
				<key>ImageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>728</integer>
					<integer>480</integer>
				</array>
				<key>NameRect</key>
				<array>
					<integer>360</integer>
					<integer>430</integer>
					<integer>386</integer>
					<integer>51</integer>
				</array>
				<key>Size</key>
				<array>
					<integer>728</integer>
					<integer>480</integer>
				</array>
			</dict>
			<key>ForwardButtonRect</key>
			<array>
				<string>710</string>
				<string>10</string>
				<string>16</string>
				<string>20</string>
			</array>
			<key>LeftButtonRect</key>
			<array>
				<string>10</string>
				<string>10</string>
				<string>34</string>
				<string>34</string>
			</array>
			<key>RightButtonRect</key>
			<array>
				<string>588</string>
				<string>20</string>
				<string>160</string>
				<string>80</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
